.transition(@props)
{
    -webkit-transition:@props;-moz-transition:@props;transition:@props;-o-transition:@props;
}
.clear{clear: both;}
body{
	padding: 0;
	margin: 0;
	font-family: Noto Sans;
}
hr{
	display: block;
	//margin-left: 13px;
	//width: 100%;
	padding-bottom: 10px;
	border: none;
	border-top: 1px solid #666;
}
ul{padding: 0;}
.frame{
	background-color: #26729c;
	left: 0;
	top: 0;
	z-index: 999;
	position: fixed;

	@w:1.25em;
	&.top{
		height:@w;
		width: 100%;
	}
	&.left{
		width:@w;
		height: 100%;
	}
	&.right{
		width:@w;
		right: 0;
		height: 100%;
		left:auto;
	}
	&.bottom{
		height:@w;
		bottom: 0;
		width: 100%;
		top:auto;
	}
	.transition(background .4s);
}

.contact a{background-color: #26729c;}

.portfolio .frame, .portfolio .contact a, .portfolio .contact a:hover{
	background-color:#26729c!important;

}
.range .frame, .range .contact a, .portfolio .contact a:hover{
	background-color:#e16a28!important;
}
.audience .frame, .audience .contact a, .portfolio .contact a:hover{
	background-color:#c9da3e!important;
}
.brands .frame, .brands .contact a, .portfolio .contact a:hover{
	background-color:#ea2825!important;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	padding: 0.6em;
	z-index: 10;
	select{
		display: none;      
	}
	.lang{
		position: absolute;
		top: 20px;
		right: 39px;
		a{
			color: #666; text-decoration: none;
			text-transform: uppercase;
			display: block;
			font-size: 14px;
			font-weight: bold;
			background: #dfdfdf;
			line-height: 26px;
			width: 26px;
			text-align: center;
		}
	}
	.inner{
		padding: 30px 30px 10px;
		
		.nav{
			list-style: none;
			float: right; 
			margin: -5px 50px 0 0;
			line-height: 52px;
			li{
				float: left;
				margin: 0;
				a{
					text-decoration: none; 
					color: #8c8c8c; 
					font-size: 18px; font-weight: bold; text-transform: uppercase;
					padding: 7px 10px;					
					&:hover{color: #fff; border-radius: 3px; background: #a2a2a2;}
				}
				&.contact{
					a{
						//background: #26729c;
						border-radius: 4px;
						height: 24px;
						width: 29px;
						display: block;
						padding-bottom: 18px;
						text-align: center;
						margin-left: 10px; 
						opacity: 0.7;
						&:hover{opacity: 1;}
					}
				}
				&.mobile-contact{display:none;}
			}
			
		}

	}
}

.section-outer{
	width: 100%;
	background-color: #fff;
	padding: 1px 0 100px;
	
	//border-top: 1px solid #fff;
	.section-inner{
		max-width: 64em;
		margin: auto;
	}
}
#home{
	.x-holder{
		margin: 260px auto 0;
		width:92%;
		img{
			width: 100%;
			margin-bottom: 20px;
		}
		font-size: 20px;
		color: #737272;
		text-align: center;
	}
	img.graph{
		width: 100%;
	}
}
#portfolio{
	.tops{
		//width: 100%;
		margin-top: -120px;
		height: 6em;
		background: #939598;
		h1{
			color: #fff;
			 margin: 3em auto; 
			 font-size: 2.3em; 
			 font-weight: bold; 
			 font-family: Arial; 
			 padding: 0.7em 0; 
			 width: 7em;
			 text-align: center;
		}
	}	
	.folio-top{text-align: center;}
	ul{
		list-style: none;
		width: 100%;
		padding: 0px;
		margin: 0 auto;

		li{
			display: inline-block;
			padding: 10px 30px;
			height: 72px;
		}
	}
}
#range{
	text-align: center;
	h2{
		padding-bottom: 90px;
	}	
}
h2{
	color: #77787b; 
	text-transform: uppercase; 
	padding-bottom: 10px;
}
#audience{
	text-align: center;
	h2{
		padding-bottom: 50px;
	}
	.sex{
		float: left;
		width: 50%;
		padding-bottom: 90px;
		&.fem{color: #faa73d;}
		&.male{
			color: #4f6aa2;
			img{
				text-align: right;
			}
		}
	}
	.huge{
		font-size: 40px;
		font-weight: bold;
	}
	ul{
		list-style: none;
		text-align: center;
		padding: 0;
		li{
			display: inline-block;
			width: 16%;
			border-right: 1px solid #939598;
			font-weight: bold;
			color: #77787b;
			padding: 0 15px;
			font-size: 20px;
			&:last-child{border-right: none;}
			
			.smaller{
				display: block;
				color: #939598;
				font-size: 17px;
			}
		}
	}
}
#brands{
	//text-align: center;
	h2{
		padding-bottom: 10px;
		margin: 0;
		text-align: center;
	}
	img.main{margin-left: 25px;}
	.branding{
		text-align: center;
		h4{
			padding: 40px 0;
			text-align: center;
			border-top: 3px double #000;
			border-bottom: double 3px #000;
			.sub{
				font-size: 12px;
				display: block;
			}
		}
		ul{
			list-style-image: url("img/xen-icon.png");
			padding: 0 0 30px;
			text-align: left;
			list-style-position:inside;
			//list-style-image: url("img/xen-icon.png");
			li{
				line-height: 30px;
			}
			li .sublist{
				list-style: none;
				padding-left: 50px;
			} 
			li.bracket{

				img{
					margin: 0;
					padding: 0;
					margin-bottom: -14px;
					//display: inline;
				}
				span{
					margin-top: -45px;
					margin-left: 30px;
					display: block;

				}
			}
			li.xen{
				list-style-position:inside;
				list-style: disc; 
			}
		}
		.bottom{
			border-top: 1px solid #000;
			padding-top: 20px;
			margin-top: 20px;
			list-style: none;
		}
		&.cpc{
			h4{
				padding: 31px 0;
			}
		}
		float: left;
		width: 22%;
		margin-left: 30px;
	}

	.brand-medias{
		width: 490px;
		float: left;
		margin-right: 20px;
		margin-bottom: 200px;
		.media-top{
			list-style: none; 
			padding: 0;
			color: #76777b;
			width: 79%;
			height: 300px;
			&.svejo li:before{
			   	color: #ff9900;
		    }
		    &.bulevard li:before{
			   	color: #8e203f;
		    }
		    &.kulinaria li:before{
		    	color: #886327;
		    }
		    &.termo li:before{
		    	color: #e30613;
		    }
		    &.hardware li:before{
		    	color: #f58220;
		    }
		    &.mobility li:before{
		    	color: #ff871c;
		    }
		    &.mobile li:before{
		    	color: #f58220;
		    }
		    &.calculator li:before{
		    	color: #f58220;
		    }
		    &.meganews li:before{
		    	color: #e41e26;
		    }
		    &.jenite li:before{
		    	color: #333366;
		    }
		    &.megalife li:before{
		    	color: #ccc;
		    }
		    &.foods li:before{
		    	color: #884c4d;
		    }
		    &.kidamom li:before{
		    	color: #ff2e43;
		    }
		    &.shvargalo li:before{
		    	color: #8bcccf;
		    }
			li{
				//background: url("img/bracket.png") no-repeat 2px 9px;
				padding-left: 35px;
				padding: 12px 0;
				min-height: 55px;
				position: relative;
				strong{
					color: #58595b;
				}
				&:before { 
				   content: "}";
				   left: 1px;
				   position: absolute;
				   top: -2px;
				   font-size: 57px;
				   font-family: Arial;

				}

			}
		}

		.media-bottom{
			float: left;
			width: 35%;
			font-size: 14px;
			padding: 0 20px;
			margin-top: 0px;
			text-align: center;
			border-right: 1px solid #666;

			small{font-size: 15px; padding: 5px 0; letter-spacing: 0.02em;}
			.center{text-align: center; clear: both; }
			.huge{font-size: 34px; font-weight: bold; text-align: center; }
			.topdata{
				text-transform: uppercase; 
				font-size: 22px; 
				font-weight: bold; 
				line-height: 17px; 
				padding-bottom: 4px;
				float: left;
				&.part{
					//border-top: 1px solid #666; 
					//padding-top: 20px; 
					margin-top: 10px; 
					font-size: 19px;
				}
			}
			h4{margin-bottom: 10px;}
			ul{
				list-style: none;
				
			}
			span{
				display: block;
			}
			img{
				float: left;
				//margin-right: -17px;
				//margin-left: 20px;
				margin-right: 10px;
				margin-left: 0px;
				&.impressions{
					margin: 0;
					margin-right: 10px;
					padding-top: 9px;
				}
			}
			//hr{display:none;}
			.data{
				float: left; 
				width: 48%; 
				//border-top:1px solid #999;
				li{
					white-space: nowrap;
					span{
						display: inline;
					}
				}
			}
			.mb-footer{
				text-align: center;
				//width: 152px;
				font-size: 13px;
				padding-top: 10px;	
				.map{
					//width: 100px; 
					height: 66px; 
					margin: auto auto; 
					background: url("img/map_svejo.png") no-repeat center;
					color: #fff;
					text-align: center;
					font-size: 30px;
					line-height: 66px;
				}
				span{font-size: 16px; font-weight: bold;}				
			}
			&.right{
				text-align: center;
				width: 43%;
				border-right: none; padding-left: 25px; font-size: 13px;
				img{padding-bottom: 20px; margin: 0; }
				ul{margin: 0; }
				.data{
					border-top:1px solid #666;
				}
			}
		}
	}	

	#others{
		clear: both;
		position: relative;	
		z-index: 0;
		.otherforms{
			background: url("img/game.png") no-repeat 0 110px;
			height: 800px;
			.right{float: right;}
			&.video{
				background: url("img/viral-video.png") no-repeat 0 110px;
			}
		}

		.x-tops{
			//width: 100%;
			//margin: 1.25em;
			height: 7em;
			background: #77787b;
			clear: both;
			h1{
				color: #fff;
				 margin: 3em auto; 
				 font-size: 1.6em; 
				 font-weight: bold; 
				 font-family: Arial; 
				 padding: 1.6em 0;
				 text-align: center;
			}
		}
		.bar{
			height: 17px;
			background: url("img/viralvideo.png") no-repeat;
			position: absolute;
			top: 181px;
			left: 0;
			z-index: 999;
			width: 100%;
		}
		img{float: left;}

		.other-medias{
			float: left;
			//width: 46%px;
			text-align: center;
			margin-top: 103px;
			padding: 0 35px;

			img{float: none;}
			h5{
				color: #333; 
				font-size: 16px; 
				margin: 0; 
				padding: 10px;
				font-weight: normal;
			}
			p{
				text-align: left; 
				margin: 20px auto; 
				font-family: Arial;
				width: 381px;
				padding-left: 6px;
				font-size: 15px;
				line-height: 24px;
			}
		}	
	}
}

#contact{
	background: #26729c;
	text-align: center;
	margin: 0 auto;
	padding: 10% 0 17%;
	color: #fff;
	font-family: Arial, sans-serif;
	h1{
		margin: 0 auto;
		border-bottom: 3px double #fff;
		width: 300px;
		font-size: 40px;
		padding: 30px 0;
	}
	hr{border: none;  width: 30%}
	div{
		font-size: 30px; 
		padding-top: 10px;
		line-height: 40px;

		img{margin-right: 20px; margin-bottom: -7px;}
	}
}

@import "mobile.less";