/* iPads (portrait and landscape) ----------- */
@media only screen  
and (max-width : 1024px) {
	.x-holder{
		max-width: 72%;
	}
		.header .inner .nav li{ 
		a{font-size: 16px;}
		&.contact{

		}		
	}
	#portfolio .tops h1{font-size: 2em;}

	#portfolio {
		ul {
			width: 96%; 
			li{
				padding: 10px 26px;
				img{width: 95%;}
			}
		}
	}
	#range {
		img{width: 85%; height: 100%;}
	}
	#audience{
		width: 95%;
		margin: auto;
		img{width: 85%; height: 100%;}
		ul{			
			li{								
				font-size: 16px;
				padding: 0 8px;
				width: 17%;
				.huge{font-size: 35px;}
				.smaller{
					font-size: 14px;
				}
			}
		}
	}

	#brands img.main{margin-left: 0;}

	#brands .branding{
		width: 21%;
		margin-left: 33px;
	}
	
	#brands #others .otherforms.video, #brands #others .otherforms{
		background-image: none;
		height: 100%;
		.other-medias, .othermedias.right{
			float: none;
		}
	}

	#brands .brand-medias{
		float: none;
		display: block;
		width: 80%;
		margin: auto;
		clear: both;
		padding: 10em 0;
		.media-top{
			height: 100%;
			margin-bottom: 4em;
			margin-left: 30px;
		}
		.bottom{
			margin-left: 50px;
			width: 100%;
			clear: both;
		}
		.media-bottom{
			max-width: 22%;
			.mb-footer{
				width: 173px;
			}
			&.right{
				padding: 0  25px 6px;
				.data{
					width: 47%;
				}
			}
		}
		
	}
}

@media only screen  
and (max-width : 768px) {
	.x-holder{
		max-width: 72%;
	}
		.header .inner .nav li{ 
		a{font-size: 16px;}			
	}

	#portfolio {		
		ul {
			
			li{
				padding: 10px 21px;
			}
		}
	}



	#brands {
		.repeat{
			display: none;
		}
		.branding{
			width: 19%;
			margin-left: 36px;
		}
	}
	
	#brands #others .otherforms.video, #brands #others .otherforms{
		background-image: none;
		height: 100%;
		.other-medias, .othermedias.right{
			float: none;
		}
	}

	#brands .brand-medias{
		float: none;
		display: block;
		width: 80%;
		margin: auto;
		clear: both;
		padding: 10em 0;
		.media-top{
			height: 100%;
			margin-bottom: 4em;
			margin-left: 30px;
		}
		.bottom{
			margin-left: auto;
			width: 100%;
			clear: both;
		}
		.media-bottom{
			width: auto;
			max-width: 100%;
			.mb-footer{
				width: auto;
			}
			&.right{
				padding: 0  26px;
				.data{
					width: 40%;
				}
			}

		}
		
	}
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 640px) {
	.nav {
		margin: 0;
		margin-top: 10px!important;
		width: 84%;
		li { 
			padding: 0;
			width: 100%;
    		display: block;
    		text-align: right;
    		margin: 0;
    		height: auto;
    		line-height: 30px;
			a{font-size: 15px !important; float: left; display: block;}		
	 	}
		.contact{display: none;}


	}
	.header .inner .nav li.mobile-contact {display: block; }
	.nav-toggle{
		display: block;
		font-size: 36px;
		//float: right!important;
		text-decoration: none;
		color: #999;
		//margin-right: 30px;
		//line-height: 36px;
		position: absolute;
		top: 26px;
		right: 60px;
	}	
	 #home .x-holder img{ width: 90%;} 
	 #portfolio {
	 	padding-top: 40px;
		ul {
			width: 79%; 			
		}
	}
	#range{padding-top: 5px;}	
	#audience{
		padding-top: 5px;
		ul{			
			li{								
				font-size: 14px;
				padding: 0 8px;
				width: 16%;
				.huge{font-size: 35px;}
				.smaller{
					font-size: 14px;
				}
			}
		}
	}

	#brands h2 {
		padding-bottom: 40px;
	}

	#brands{
		img.main{display: none;}
	}

	#brands .branding{
		width: 36%;
		margin-left: 52px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 629px) {
	//.nav li { display: block; }
  	// .header {
  	// 	.inner a{width: 50px; float: left; display: block;}
  	// // 	select { 
	  // // 		display: inline-block;
	  // // 		float: right;
	  // // 		width: 150px;
	  // // 		border: 1px solid #ddd;
	  // // 		padding: 10px;
	  // // 		font-size: 18px;
	  // // 		text-transform: capitalize;
			// // color: #999;
			// // margin-right: 30px;
			// // &:focus{
			// // 	outline: none;
			// // 	//border: none;
			// // }
			// // }
		
  	//  }
}

@media only screen 
and (max-width : 480px) {
	.section-outer {
		padding: 1px 0 130px;
	}
	#portfolio{
		ul{
			width: 92%;
			text-align: center;
			
			li{padding: 10px;}
			//img{width: 60%;}
		}
	}
	#range h2, #audience h2{
		font-size: 20px;	
		padding-bottom: 40px;	
	}
	#audience h3{
		margin: 0;
	}

	#audience{
		ul li{
			width: 20%;
			//padding: 0 8px 20px;
			font-size: 13px;
			margin-bottom: 30px;
		}
	}

	#brands .branding{
		width: 36%;
		margin-left: 44px;
	}

	#brands .brand-medias {
		display: block;
		float: none;
		width: 85%;
		padding: 10em 0;
		margin: auto;
		clear: both;
	}

	#brands .brand-medias .media-bottom .topdata{
		//font-size: 15px;
		float: none;
	}

	#brands .brand-medias .media-bottom .topdata.part{
		font-size: 18px;
	}

	#brands .brand-medias .media-bottom small {
		//font-size: 11px;
	}

	#brands .brand-medias .media-bottom .huge {
		font-size: 31px;
	}

	#brands .brand-medias .media-bottom{
		width: 40%;
		padding: 0 10px 0 0;
		.impressions{
			padding-top: 2px!important;
		}
	}


	#brands .brand-medias .media-bottom .mb-footer {
		//width: 120px;
	}
	#brands .brand-medias .media-bottom .data{
		min-width: 50%;
	}
	#brands .brand-medias .media-bottom.right{
		padding-left: 10px;
		width: 48%;
		.data{
			//border: none;
		}
		hr{
			display: block;
			margin-left: 13px;
			width: 100%;
			border: none;
			border-top: 1px solid #666;
		}
	}
}

@media only screen 
and (max-width : 360px){
	#home .x-holder img {
		width: 90%;

	}

	#home .x-holder {
		font-size: 20px;
		width: 85%;
		padding-bottom: 20px;
	}

	#portfolio .tops{
		height: 5em;
		margin-bottom: 20px;
	}

	#portfolio .tops h1 {
		padding: .9em 0;
		font-size: 1.6em;

	}

	#portfolio .folio-top img{display: none;}

	#range h2, #audience h2 {
		padding-bottom: 15px;
		font-size: 18px;
	}

	#range img{
		width: 80%;
	}

	#audience{
		&.section-outer .section-inner {
		max-width: 94%;
		.sex{
			float: none;
			width: auto;
			padding: 0 11px 15px;
			&.male{
				padding-bottom: 45px;
			}
		}
		.huge {
			font-size: 24px;
		}
		img {
			width: 94%;
		}
		ul li {
			width: 43%;
			padding: 4px 8px;
			font-size: 15px;
			margin: 0 0 15px;
			.huge {
				font-size: 26px;
			}
			.smaller {
				font-size: 11px;
			}
		}
	}

	
	}

	#brands {
		.brand-medias {
			float: none;
			width: 85%;
			padding: 10em 0;
			margin: auto;
			text-align: center;
			

			.media-top{
				width: auto;
				margin-left: 8px;
				font-size: 15px;
				height: auto;
				text-align: left;
				li{
					padding: 12px 10px 0 23px ;
				}
				li:before {
					top: -1px;
					font-size: 48px;
				}
			}

			.media-bottom{
				width: auto;
				text-align: center;
				float: none;
				border: none;
				img{
					//margin-left: -33px;
					float: none;
					display: inline;
				}
				.topdata, .part{
					font-size: 22px;
					display: inline;
					float: none;
				}
				small{
					font-size: 15px;
				}
				.huge{
					font-size: 29px;
					clear: both;
				}
				&.right{
					padding: 0;
					width: 92%;
					border-left: none;
					margin: 0 12px;
					img{
						padding-bottom: 20px;
						float: none;
						margin-top: 30px;
						margin-left: 0;

					}
					//hr{display: none;}
					.data{
						width: 50%;
						border-top:1px solid #999;
					}

				}
				.mb-footer{
					width: auto;
				}
			}
		}
		#others {
			.x-tops {
				height: auto;
				h1 {
					padding: 10% 0;
					margin: 3em auto;
					font-size: 1.2em;
					width: auto;

				}				
			}
			 
			.other-medias{
				width: auto;
				margin-top: auto;
				img {
					width: 98%;
				}
				p{
					width: auto;
				}
			}
		}
		}

	#brands .branding{
		width: 72%;
		margin-left: 42px;
	}
	#contact{	
	h1{
		margin: 0 auto;
		border-bottom: 3px double #fff;
		width: 300px;
		font-size: 35px;
		padding: 30px 0;
	}
	hr{border: none;  width: 30%}
	div{
		font-size: 25px; 
		padding-top: 10px;
		line-height: 40px;

		img{margin-right: 20px; margin-bottom: -7px;}
	}
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}