<!DOCTYPE html>

<html ng-app="xenium" ng-controller="MainCtrl">
	<head>
		<title>Xenium Media Company</title>
		<meta charset="utf-8"> 
		<meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="app.css">
		<script src="js/app.cc.js"></script>
	</head>
	<body>
		<div class="frame top"></div>
		<div class="frame left"></div>
		<div class="frame right"></div>
		<div class="frame bottom"></div>
		<div class="header">
			<div class="inner">
				<a href="#"><img src="img/xenium.png" alt="xenium"></a>
				<ul class="nav">
					<li><a href="#portfolio" data-color="#26729c" translate="PORTFOLIO"></a></li>
					<li><a href="#range" data-color="#e16a28" translate="RANGE"></a></li>
					<li><a href="#audience" data-color="#c9da3e" translate="AUDIENCE"></a></li>
					<li><a href="#brands" data-color="#ea2825" translate="BRAND"></a></li>
					<li class="contact"><a href="#contact"><img src="img/contact.png" /></a></li>
					<li class="mobile-contact"><a href="#contact" translate="CONTACT"></a></li>
				</ul>

				<div class="lang" ng-model="lang" ng-show="lang"><a href="" ng-click="changeLanguage('bg')">bg</a></div>
				<div class="lang" ng-model="lang" ng-show="!lang"><a href="" ng-click="changeLanguage('en')">en</a></div>
			</div>
		</div>
		<div class="section-outer" id="home">
			<div class="section-inner s1">
				<div class="x-holder">
					<img src="img/xenium-main.png" alt="xenium media">
					<span translate="LEADING MEDIA COMPANY">Водеща медийна компания в България</span>	
				</div>
				
			</div>
			<span translate="MAIN GRAPH"><img class="graph" src="img/graph1.jpg" /></span>
		</div>
		
		<div class="section-outer" id="portfolio">
			<div class="section-inner">
				<div class="tops"><h1 translate="MEDIA KIT">МЕДИА КИТ</h1></div>
				<div class="folio-top"><img src="img/portfolio-top.png" /></div>
				<ul>
					<li><img src="img/svejo.png" /></li>
					<li><img src="img/bulevard.png" /></li>
					<li><img src="img/kulinaria.png" /></li>
					<li><img src="img/termo.png" /></li>

					<li><img src="img/mobility.png" /></li>
					<li><img src="img/hardware.png" /></li>
					<li><img src="img/shvargalo.png" /></li>
					<li><img src="img/calculator.png" /></li>

					<li><img src="img/mobile.png" /></li>
					<li><img src="img/meganews.png" /></li>
					<li><img src="img/niejenite.png" /></li>
					<li><img src="img/megalife.png" /></li>

					<li><img src="img/foods.png" /></li>
					<li><img src="img/kidamom.png" /></li>
					<li><img src="img/bmw.png" /></li>
				</ul>
			</div>
		</div>
		
		<div class="section-outer" id="range">
			<div class="section-inner">
			<h2 translate="AUDIENCE REACH">Медиен обхват на аудиторията</h2>
			<span translate="RANGE IMG"><img src="img/range.png" height="522"/></span>
			</div>
		</div>
		
		<div class="section-outer" id="audience">
			<div class="section-inner">
				<h2 translate="AUDIENCE PROFILE">Профил на аудиторията</h2>
				<div class="sex fem">
					<h3><span class="huge">53%</span> <span translate="FEMALE">жени</span></h3>
					<img src="img/fem.png" height="155"/>
				</div>
				<div class="sex male">
					<h3><span class="huge">47%</span> <span translate="MALE">мъже</span></h3>
					<img src="img/male.png" height="155"/>
				</div>
				<div style="clear: both;"></div>
				<div>
					<ul>
						<li><span class="huge">79%</span><span class="smaller">2.18  <span translate="MLNS">млн.</span></span><span translate="ON A DAILY BASIS">всекидневно използват интернет</span></li>
						<li><span class="huge">41%</span><span class="smaller">1.13 <span translate="MLNS">млн.</span>.</span><span translate="MIDDLE AND HIGH INCOME">среден и <br />висок<br /> доход</span></li>
						<li><span class="huge">85%</span><span class="smaller">2.34  <span translate="MLNS">млн.</span>.</span><span translate="SECONDARY AND HIGHER EDUCATION">средно и висше образование</span></li>
						<li><span class="huge">47%</span><span class="smaller">1.29  <span translate="MLNS">млн.</span>.</span><span translate="BIG CITIES AND REGIONAL CAPITALS">големи градове и обл. центрове</span></li>
						<li><span class="huge">73%</span><span class="smaller">2.01  <span translate="MLNS">млн.</span>.</span><span translate="AGED">възраст</span> <br />18-45 <br /><br /></span></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="section-outer" id="brands">
			<div class="section-inner">
				<div style="text-align: center;">
					<img src="img/client-icon.png" />
					<h2>Brand</h2>
					<img class="main" src="img/social.png" height="31"/>
				</div>

				<div class="branding">
					<img src="img/facebook.png" height="40"/>
					<h4>FACEBOOK</h4>
					<ul>
						<li>Apps / Games</li>
						<li class="xen">FB page / Support</li>
						<li class="xen">Clicks / Likes</li>
						<li>Postings</li>
						<li>Sharing</li>
						<li>Viral Video</li>
						<li>Distribution</li>
						<li class="bottom">Reach / Engagement</li>
					</ul>					
				</div>

				<div class="branding">
					<img src="img/medias.png" height="40"/>
					<h4>MEDIAS</h4>
					<ul>
						<li>Banners / Rich Media</li>
						<li>PR</li>
						<li>Text Links</li>
						<li>Interview / Brand Ambassador</li>
						<li>Games</li>
						<li>Branding / Category</li>
						<li>Direct Marketing</li>
						<li>Direct Marketing</li>
						<li>Creative and Viral Videos
							<ul class="sublist">
								<li>Games</li>
								<li>Adv. Formats</li>
								<li>Websites</li>
							</ul>
						</li>
						<li class="bracket"><img src="img/curly.png" /><span>Review / Mazda / Metro <br /> Product Placement</span></li>
						<li>Content Producer</li>
						<li class="bottom">Reach / Image / Loyality</li>
					</ul>
					
				</div>	

				<div class="branding cpc">
					<img src="img/performance.png" height="40"/>
					<h4>PERFORMANCE / CPC <span class="sub">Google / BGNetwork / Others</span></h4>
					<ul>
						<li>Text Link</li>
						<li>Banners</li>
						<li  class="xen">Affiliate / Action</li>
						<li  class="xen">Adsense</li>
						<li  class="xen">Adwords</li>
						<li  class="xen">SEO</li>
						<li class="bottom">Reach / Low Image / Clicks</li>
					</ul>
					
				</div>	

				<div class="branding">
					<img src="img/youtube.png" height="40"/>
					<h4>YOU TUBE</h4>
					<ul>
						<li>Channel</li>
						<li>Viral Video</li>
						<li>Promo Video</li>
						<li  class="xen">Banners</li>
						<li>You Tube / Views</li>
						<li class="bottom">Engagement</li>
					</ul>
					
				</div>
				<div style="clear: both;"></div>


				<div class="brand-medias">
					<img src="img/svejo.png" />
					<ul class="media-top svejo">
						<li>Svejo.net - <span translate="THE MOST COMPEHENCIVE"></span></li>
						<li translate="OVER 4000 PUBLICATIONS DAILY"></li>
						<li translate="OVER 2M PUBLICATIONS IN TOTAL"></li>
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">1 200 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png" />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">5 100 000</span>
							<div class="mb-footer">
								<span class="map">20%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="SVEJO DATA IMG"></span>
							<hr />
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>33%</strong></li>
									<li>25-34 <strong>24%</strong></li>
									<li>35-44 <strong>22%</strong></li>
									<li>45-54 <strong>14%</strong></li>
									<li>55+ <strong>7%</strong></li>
								</ul>							
							</div>

							<div class="data">
								<h4 translate="EDUCATION"> </h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>59%</strong></li>
									<li><span translate="COLLEGE"></span></span> <strong>5%</strong></li>
									<li><span translate="HIGHER"></span> <strong>24%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>




				<div class="brand-medias">
					<img src="img/bulevard.png" />
					<ul class="media-top bulevard">
						<li translate="CITY LIFE MEDIUM"></li>
						<li translate="ENTERTAINS AND INFORMS THE YOUNG MODERN PERSON"></li>
					</ul>
					
					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">187 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png" />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">1 330 000</span>
							<div class="mb-footer">
								<span class="map">4%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="BULEVARD DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>33%</strong></li>
									<li>25-34 <strong>24%</strong></li>
									<li>35-44 <strong>22%</strong></li>
									<li>45-54 <strong>14%</strong></li>
									<li>55+ <strong>7%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"> </h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>59%</strong></li>
									<li><span translate="COLLEGE"></span> <strong>5%</strong></li>
									<li><span translate="HIGHER"></span> <strong>24%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>

				<div style="clear: both;"></div>

				<div class="brand-medias">
					<img src="img/kulinaria.png" />
					<ul class="media-top kulinaria">
						<li translate="KULINARIA IS MEDIA"></li>
						<li translate="PRESENTS IN AN ORIGINAL AND"></strong> </li>
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">140 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png" />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">661 000</span>						
						</div>
						<div class="media-bottom right">
							<span translate="KULINARIA DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>29%</strong></li>
									<li>25-34 <strong>24%</strong></li>
									<li>35-44 <strong>29%</strong></li>
									<li>45-54 <strong>16%</strong></li>
									<li>55+ <strong>7%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"></h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>68%</strong></li>
									<li><span translate="COLLEGE"></span> <strong>6%</strong></li>
									<li><span translate="HIGHER"></span> <strong>29%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>


				<div class="brand-medias">
					<img src="img/termo.png" />
					<ul class="media-top termo">
						<li translate="TERMO IS A SITE FOR TRAVEL"></li>
						<li translate="RECOMMENDS UPCOMING EVENTS"></li>
						<li translate="PRESENTS DETAILED 15 DAY"></li>
					</ul>
					
					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">35 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png" />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">266 000</span>
							<div class="mb-footer">
								<span class="map">1%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="TERMO DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>29%</strong></li>
									<li>25-34 <strong>22%</strong></li>
									<li>35-44 <strong>26%</strong></li>
									<li>45-54 <strong>16%</strong></li>
									<li>55+ <strong>7%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"> </h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>61%</strong></li>
									<li><span translate="COLLEGE"></span> <strong>6%</strong></li>
									<li><span translate="HIGHER"></span> <strong>26%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>

				<div class="brand-medias">
					<img src="img/hardware.png" />
					<ul class="media-top hardware">
						<li translate="HARDWARE IS THE MOST POPULAR HARDWARE"</li>
						<li translate="EXCEPTIONALLY WELL DEVELOPED FORUM"></li>
						
					</ul>
					

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">322 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png" />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">3 100 000</span>
							<div class="mb-footer">
								<span class="map">7%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="HARDWARE DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE">: </h4>
								<ul>
									<li>15-24 <strong>35%</strong></li>
									<li>25-34 <strong>27%</strong></li> 
									<li>35-44 <strong>22%</strong></li>
									<li>45-54 <strong>11%</strong></li>
									<li>55+ <strong>5%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"></h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>57%</strong></li>
									<li><span translate="COLLEGE"></span> <strong>6%</strong></li>
									<li><span translate="HIGHER"></span> <strong>25%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>


				<div class="brand-medias">
					<img src="img/mobility.png" />
					<ul class="media-top mobility">
						<li translate="MOBILITY UNITES"></li>
						<li translate="MOBILITY ITS AUDIENCE"></li>
					</ul>
					
					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">84 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png"  />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">922 000</span>
							<div class="mb-footer">
								<span class="map">1%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="MOBILITY DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>34%</strong></li>
									<li>25-34 <strong>40%</strong></li>
									<li>35-44 <strong>22%</strong></li>
									<li>45-54 <strong>3%</strong></li>
									<li>55+ <strong>1%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"></h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>52%</strong></li>
									<li><span translate="COLLEGE"></span> <strong>9%</strong></li>
									<li><span translate="HIGHER"></span> <strong>26%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>




				<div class="brand-medias">
					<img src="img/mobile.png" />
					<ul class="media-top mobile">
						<li translate="IN 2013 MOBILE"</li>
						<li translate="THE AUDIENCE CONSISTS"></li>
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">205 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png" />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">22 000 000</span>
							<div class="mb-footer">
								<span class="map">1%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="MOBILE DATA IMG"></span>						
						</div>
					</div>
				</div>

				<div class="brand-medias">
					<img src="img/calculator.png" />
					<ul class="media-top">
						<li translate="CALCULATOR FOR EVERYTHING"></li>
						<li translate="FACILITATES ANY CALCULATION"></li>
						<li translate="YOU CAN CALCULATE"> </li>
						
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">120 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png"  />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">400 000</span>
							<div class="mb-footer">
								<span class="map">1%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
					</div>
					
				</div>

				<div style="clear: both;"></div>

				<div class="brand-medias">
					<img src="img/meganews.png" />
					<ul class="media-top meganews">
						<li translate="MEGANEWS IS AN INFORMATION SITE"></li>
						<li translate="OUR MISSION IS TO IMPARTIALLY INFORM"></li>
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">335 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png"  />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">1 600 000</span>
							<div class="mb-footer">
								<span class="map">5%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="MEGANEWS DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>34%</strong></li>
									<li>25-34 <strong>29%</strong></li>
									<li>35-44 <strong>20%</strong></li>
									<li>45-54 <strong>12%</strong></li>
									<li>55+ <strong>5%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION">Образование: </h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>74%</strong></li>
									<li><span translate="HIGHER"></span> <strong>26%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>

				<div class="brand-medias">
					<img src="img/niejenite.png" />
					<ul class="media-top jenite">
						<li translate="NIEJENITE IS A SITE"></li>
						<li translate="THE MEDIUM ALLOWS ITS USERS"></li>						
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">200 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png"  />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">610 000</span>
							<div class="mb-footer">
								<span class="map">2%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="JENITE DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"></h4>
								<ul>
									<li>15-24 <strong>38%</strong></li>
									<li>25-34 <strong>27%</strong></li>
									<li>35-44 <strong>22%</strong></li>
									<li>45-54 <strong>10%</strong></li>
									<li>55+ <strong>3%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"> </h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>73%</strong></li>
									<li><span translate="HIGHER"></span> <strong>27%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>

				<div style="clear: both;"></div>

				<div class="brand-medias">
					<img src="img/megalife.png" />
					<ul class="media-top megalife">
						<li translate="MEGALIFE IS A DEVELOPED"></li>
						<li translate="THE MEDIUMS USERS"></li>
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">100 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png"  />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">210 000</span>
							<div class="mb-footer">
								<span class="map">1%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="MEGALIFE DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>35%</strong></li>
									<li>25-34 <strong>23%</strong></li>
									<li>35-44 <strong>25%</strong></li>
									<li>45-54 <strong>13%</strong></li>
									<li>55+ <strong>4%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"> </h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>65%</strong></li>
									<li><span translate="HIGHER"></span> <strong>19%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>

				<div class="brand-medias">
					<img src="img/foods.png" />
					<ul class="media-top foods">
						<li translate="FOODS IS A CULINARY SITE"></li>
						<li translate="IT PRESENTS IN THE MOST"></li>
						
					</ul>

					<div class="bottom">
						<div class="media-bottom">
							<img src="img/laptop.png" />
							<span class="topdata" translate="UNIQUE"></span> 
							<div class="center"><small translate="MONTHLY USERS"></small></div>
							<span class="huge">50 000</span>
							<hr style="width: 150px;"/>
							<img class="impressions" src="img/eye.png"  />
							<span class="topdata part" translate="IMPRESSIONS"></span> 
							<span class="huge">160 000</span>
							<div class="mb-footer">
								<span class="map">1%</span>
								<span translate="AUDIENCE OF"></span>
								 <small translate="OF REACH"></small>
							</div>
						</div>
						<div class="media-bottom right">
							<span translate="FOODS DATA IMG"></span>
							<div class="data">
								<h4 translate="AGE"> </h4>
								<ul>
									<li>15-24 <strong>25%</strong></li>
									<li>25-34 <strong>38%</strong></li>
									<li>35-44 <strong>22%</strong></li>
									<li>45-54 <strong>7%</strong></li>
									<li>55+ <strong>8%</strong></li>
								</ul>							
							</div>
							<div class="data">
								<h4  translate="EDUCATION"></h4>
								<ul>
									<li><span translate="SECONDARY"></span> <strong>68%</strong></li>
									<li><span translate="HIGHER"></span> <strong>18%</strong></li>
								</ul>							
							</div>
						</div>
					</div>
				</div>

				<div class="brand-medias">
					<img src="img/kidamom.png" />
					<ul class="media-top kidamom">
						<li translate="KIDAMOM IS A FUN"></li>
						<li translate="XENIUM MEDIA COMPANY TOGETHER WITH"></li>
						<li translate="KIDAMOM IS A PLACE"></li>
					</ul>					
				</div>

				<div class="brand-medias">
					<img src="img/shvargalo.png" />
					<ul class="media-top shvargalo">
						<li translate="SHVARGALO IS AN ART COMPANY"></li>
						<li translate="KAMEN DONEV AND ELENA BOZOVA"></li>
						<li translate="THE AUDIENCE CONSISTS OF"></li>						
					</ul>
				</div>




				<div class="section-outer" id="others">
					<div class="section-inner clear">
						<div class="otherforms video">
							<div class="x-tops"><h1 translate="NONSTANDARD FORMATS"></h1></div>
							<div style="clear: both;"></div>
							<div class="other-medias">
								<h5><span translate="CLIENT"></span> Plesio</h5>
								<img src="img/plesio.png" height="" />
								<p translate="PLESIO: THE VIDEO"></p>
								<p translate="PLESIO: POPULARIZED"></p>

							</div>

							<div class="other-medias right">
								<h5><span translate="CLIENT"></span> Amstel</h5>
								<img src="img/amstel.png" height="" />
								<p translate="AMSTEL: BEER CEREMONY"></p>
								<p translate="AMSTEL: CONCEPT"></p>
							</div>
						</div>

						<div class="otherforms clear">
							<div class="x-tops  repeat"><h1 translate="NONSTANDARD FORMATS"></h1></div>
							<div style="clear: both;"></div>
							
							<div class="other-medias">
								<h5><span translate="CLIENT"></span> Nescafe Dolce Gusto</h5>
								<img src="img/nescafe.png" height="" />
								<p translate="NESCAFE: THE GAME ATTRACTED"></p>

								<p translate="NESCAFE: THE CONTEST WEBPAGE"></p>

							</div>
							

							<div class="other-medias right">
								<h5><span translate="CLIENT"></span> Tefal</h5>
								<img src="img/tefal.png" height="" />
								<p translate="TEFAL: THE GAME"></p>
								<p translate="TEFAL: THE GAME TOOK PLACE"></p>
							</div>
						</div>

						<div class="otherforms clear">
							<div class="x-tops  repeat"><h1 translate="NONSTANDARD FORMATS"></h1></div>
							<div style="clear: both;"></div>
							
							<div class="other-medias">
								<h5><span translate="CLIENT"></span> Escada</h5>
								<img src="img/escada.png" height="" />
								<p translate="ESCADA: USERS CHOSE THE AROMA"> </p>
								<p translate="ESCADA: THIS CREATED A VIRAL EFFECT"></p>

							</div>
							

							<div class="other-medias right">
								<h5><span translate="CLIENT"></span> Bruno Banani</h5>
								<img src="img/bruno.png" height="" />
								<p translate="BRUNO: A GAME URGING MALE AUDIENCE"></p>
								<p translate="BRUNO: MORE THAN 230 USERS"></p>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>